@font-face {
    font-family: proxima-nova;
    src: url(../../fonts/Proxima-Nova.otf);
}
@font-face {
    font-family: proxima-nova-reg;
    src: url(../../fonts/Proxima-Nove-Reg.otf);
}
@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../../fonts/Montserrat/Montserrat-Medium.ttf);
}

