// COLOR PALETTE
$clr1: #4b6479;
$clr2: #e5e5e5;
$clr3: #01b2c0;
$clr4: #404040;
$clr5: #a2a2a2;
$clr6: #ffffff;
$clr7: #525252;
$clr8: #f4f8f9;
$clr9: #edf9fa;
$clr10: #006770;
$clr11: #bdc1cc;

// LAYOUT BREAKPOINTS
$break-narrow: 560px;
$break-normal: 740px;
$break-wide: 1100px;
